/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    font-size: 16px;
}
.main {
    display: flex;
    min-height: 100vh; 
    flex-direction: column;
    width: max-content;
    margin: 16px auto;
    justify-content: center;  
}
.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    font-size: 1.5rem;
}
.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 16px;
}
.input-date {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    margin: 4px;
}
.date {
    display: flex;
    gap: 4px;
    padding: 8px;
    width: 12rem;
}
.calendar-btn {
    background-color: transparent;
    border: none;
    width: 2rem;
    height: 2rem;
}
.calendar-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.calculate-btn {
    flex: 1;
}
.result {
    display: flex;
    gap: 6px;
}
.calendar-overlay {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex; 
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    display:none;
}
.calendar-overlay.active {
    display: flex;
}
.datepicker {
    background: white;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.choose-date {
    display: flex;
    align-items: center;
    justify-content: center;
}
.prev-month-button, .next-month-button {
    background-color: transparent;
    border: none;
    width: 3rem;
    height: 3rem;
}

.prev-month-button img, .next-month-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 1px solid aqua;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}
.calendar-grid > div {
    border-right: 0.1rem solid gray;
    border-bottom: 0.1rem solid gray;
    text-align: center;
    padding: 4px;
    font-size: 1.5rem;
}
.day {

}
.inactive {
    color: gray;
}
.weekdays {
    display: flex;
    flex-direction: row;
}